
	body
		&.off-canvas-open
			overflow hidden




	// Footer
	.footer
		background-color rgba( 255,255,255,.9 )
		fixed bottom 0 left 0 right 0
		&__container
			padding 1rem 1.6rem

		&__email
			margin-bottom .5rem

		&__github
			margin-right 1rem

		&__list-items
			i
				font-size 30px




	// Header
	.header
		absolute left 0 right 0 top 0
		&__icon-menu
			absolute left 1.5rem top 1.3rem
			i
				animation wave 1.5s infinite
				background-color transparent
				border-radius 50%
				color black
				font-size 30px
				transitionCubic()
				&:hover
					color $black-light

		&__logo
			i
				font-size 40px

		&__nav__list-link
			padding-bottom .5rem
			transitionCubic()
			&:first-child
				margin-right 1rem

			&:hover
				border-bottom 1px solid black




	.mm-opening
		.header
			&__icon-menu
				i
					color $black-light

	@media only screen and ( min-width 62em)

		// Header
		.header
			&__icon-menu
				relative left 0 top 0


		.footer
			&__container
				padding 1rem 0