
	/**
	 * Colors
	 */

	$black-light	= #999
	$black-dark		= #555
	$white-light	= #EEE



	.black-light
		color #999

	.black-dark
		color #555

	.white-light
		color #EEE

	/**
	 * Radius
	 */

	$curved = 6px


	/**
	 * Transition
	 */

	transitionCubic()
		transition all .2s cubic-bezier( .4,0,.2,1 )


	/**
	 * Divider
	 */

	divider-bottom( color )
		border-bottom 1px solid color

	divider-top( color )
		border-top 1px solid color