  <footer class="footer">

    <div class="footer__container u-container">
      <h5 class="footer__email center-xs"><a href="mailto:{{ site.email }}">{{ site.email }}</a></h5>
      <ul class="footer__list u-row center-xs">
        {% if site.github_username %}
        <li class="footer__list-items footer__github">
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.linkedin_username %}
        <li class="footer__list-items footer__linkedin">
          {% include icon-linkedin.html username=site.linkedin_username %}
        </li>
        {% endif %}
      </ul>
    </div>

  </footer>
</div> <!-- End page -->

<script src="{{ "/scripts/build.js" | prepend: site.baseurl }}"></script>