<nav id="menu">
   <ul>
      <li>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </li>
      {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.title == 404 %}
            {% else %}
            <li>
              <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </li>
            {% endif %}
          {% endif %}
      {% endfor %}
   </ul>
</nav>

<div class="page"> <!-- Page -->
  <header class="header">
    <div class="header__container u-container-full u-row middle-xs">

      <div class="header__icon-menu col-xs-12 col-md-4">
        <a href="#menu" id="iconMenu" class="header__icon-menu__link u-row">
          <i class="icon-record"></i>
        </a>
      </div>

      <figure class="header__logo col-xs-12 col-md-4 center-xs">
        <a class="site-title" href="{{ site.baseurl }}/">
          <i class="icon-logo hide-xs show-md"></i>
          <i class="icon-logo-sm hide-md"></i>
        </a>
      </figure>

      <nav class="header__nav col-xs-12 col-md-4 hide-xs show-md end-xs">
        <div class="header__nav__list">
          {% for my_page in site.pages %}
            {% if my_page.title %}
              {% if my_page.title == 404 %}
              {% else %}
                <a class="header__nav__list-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
          <a class="header__nav__list-link" href="//co.linkedin.com/in/ejairn" target="_blank">Profile</a>
        </div>
      </nav>

    </div>
  </header>