
	*
	*:before
	*:after
		box-sizing border-box


	html
	body
	div
	object
	iframe
	h1
	h2
	h3
	h4
	h5
	h6
	p
	blockquote
	ol
	ul
	li
	form
	legend
	label
	table
	header
	footer
	nav
	section
	figure
		margin 0
		padding 0


	header
	footer
	nav
	section
	article
	hgroup
	figure
		display block


	input[type=text]
	input[type=search]
	input[type=url]
	input[type=number]
	textarea
		-webkit-appearance none


	button
	input
	select
	textarea
		font-family inherit
		font-size 100%


	img
	video
	object
		height auto
		max-width 100%
		vertical-align top


	button
	input[type="submit"]
		cursor pointer


	input[type="checkbox"]
	input[type="radio"]
		margin-right .3rem
		width auto


	input
	textarea
		border 1px solid gray
		padding 0.5em 0.65rem
		width 100%


	ul
	ol
		list-style none
		margin 0
		padding 0


	abbr
		border-bottom 1px dotted gray
		cursor help


	blockquote
		border-left 1px solid gray
		color gray
		font-style italic
		margin-bottom 1em
		padding-left 1em



	body
		background-color #EAEAEC
		word-wrap break-word


	dd
		margin-left 0


	dt
		font-weight bold


	fieldset
		border 0
		margin 0
		padding 0


	figcaption
		font-style italic


	figure
		margin-bottom 0
		img
			margin-bottom 0


	input[type=number]
		-webkit-appearance none
		border-radius 0


	label
		display block
		padding-bottom 0.5rem


	p
		margin-bottom 1rem


	table
		border 1px solid gray
		border-collapse collapse
		border-spacing 0
		width 100%


	td
		border 1px solid gray
		padding 0.2em


	th
		border 1px solid gray
		padding 0.2em
		text-align left

	.admin-bar
		.Header
			&.stick
				margin-top 32px