
	.projects
		padding 100px 0
		min-height 100vh
		&__list__date
			border-bottom 1px solid black
			display inline-block
			margin-bottom .5rem

		&__list-item
			margin-bottom 3rem

		&__list__title
			font-weight bolder
			letter-spacing -2px
			margin-bottom 0
			text-transform uppercase

		&__title
			margin-bottom 6rem